@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayishblue: hsl(220, 15%, 55%);
  --Darkblue: hsl(218, 44%, 22%);
  --fs: 1.1rem;
  --text400: 400;
  --text700: 700;
  --font: "Outfit", sans-serif;
}

@media screen and (max-width: 400px) {
    .footer {
      text-align: center;
    }
  }


.containerWrapper {
  width: 320px;
  height: 500px;
  box-shadow: 0 0.063rem 0.188rem rgb(31 50 81 / 12%), 0 0.063rem 0.125rem rgb(31 50 81 / 24%);
  background-color: var(--White);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;

}

.containerWrapper:hover{
    box-shadow: 0 0.875rem 1.75rem rgb(31 50 81 / 25%), 0 0.625rem 0.625rem rgb(31 50 81 / 22%);
    transition: all 0.3s ease-in-out;
}

.imageWrapper {
  margin-top: var(--fs);
}

img {
  height: 290px;
  width: auto;
  border-radius: 10px;
}

h2 {
  font-size: 22px;
  font-weight: var(--text700);
  text-align: center;
  color: var(--Darkblue);
  font-family:var(--font) ;
  line-height: 1.3;
}

.description {
  color: var(--Grayishblue);
  text-align: center;
  font-size: (pharagraph) 15px;
  font-weight: var(--text400);
  margin-top: var(--fs);
  line-height: 1.2;
  font-family: var(--font);
}

.textWrapper {
  position: absolute;
  margin-top: var(--fs);
  width: 280px;
  
}

.footer{
    position: absolute;
    bottom: 0;
    margin-bottom: var(--fs);
    font-size: 13px;
}

a {
    color: rgba(0, 0, 0, 0.87);
  }

a:hover{
    color:#2C7DFA
}